git/config.d/*
ssh/config.d/*
tmux/plugins/
vim/.netrwhist
vim/plugged
wireshark/profiles/*/decode_as_entries
wireshark/profiles/*/extcap.cfg
wireshark/profiles/*/hosts
wireshark/profiles/*/recent
!README*
