[submodule "janus/vim-latex"]
	path = janus/vim-latex
	url = git://git.code.sf.net/p/vim-latex/vim-latex
[submodule "Smyck-Color-Scheme"]
	path = Smyck-Color-Scheme
	url = https://github.com/hukl/Smyck-Color-Scheme.git
